:root {

    --typical-lh: 1.5;
}
body{
    font-family: 'roboto' ,sans-serif;
    color: #434455;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.site-body{
}
/* --------HEADER--------- */


.header {
}
.header-web {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.header-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}
.header-navigation {
}
.header-link:hover,
.header-link:focus{
    color: #4D5AE5;
    }
.header-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    
}
.heade-item {
}
.header-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-after-list
.header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* --------Hero--------- */


.hero {
    background: #2E2F42;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.hero-btn {
background: #4D5AE5;
font-family: 'Roboto';
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
}

/* --------About--------- */
.about-list {
}
.list {
}
.about-item {
}
.about-strategy {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.about-after-strategy {

font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}.about-item {
}
.about-punctuality {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.about-after-punctuality {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.about-diligence {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.about-after-diligence {

font-size: 16px;
line-height:var(--typical-lh);
letter-spacing: 0.02em;
color: #434455;
}
.about-technologies {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.about-after-technologies {

font-size: 16px;
line-height:var(--typical-lh);
letter-spacing: 0.02em;
color: #434455;
}

/* --------Work--------- */
.work {
}
.work-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.work-list {
}
.work-item {
}

/* -----------Team--------- */

.team {
}
.team-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.team-list {
}
.list {
}
.team-item {
}
.team-designer {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-designer-text {

font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.team-developer {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-developer-text {
font-size: 16px;
line-height: 1.5px;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
.team-marketing {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-marketing-text {

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    }
.team-ul {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
}
.team-ul-text {

font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
}
/* -----------Footer------------ */

    .footer {
    background: #2E2F42;

}
.footer-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-studio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}

/* -----------PORTFOLIO-head------------ */


body{
    font-family: 'roboto' ,sans-serif;
    color: #434455;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.site-body{
}



.site-body-portfolio {
}
.header-portfolio {
}
.header-navigation-portfolio {
}


.header-portfolio-web {

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
cursor: pointer
}

.header-portfolio-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;

}
.header-portfolio-link:hover,
.header-portfolio-link:focus{
    color: #4D5AE5;
    }
.header-portfolio-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}
.list {
}


.header-portfolio-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42
}
.header-portfolio-after-list {
}
.header-portfolio-mail {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-portfolio-tel {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.tab-all:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    }

.tab-web:hover{
    background-color: #404BBF;
    color: #FFFFFF;
}
.tab-app:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    }
    .tab-design:hover{
        background-color: #404BBF;
        color: #FFFFFF;
        }
        .tab-marketing:hover{
            background-color: #404BBF;
            color: #FFFFFF;
            }

.tab-all {
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer
    }
.tab-web {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer
}
.tab-app {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer
}
.tab-design {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer
}
.tab-marketing {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer
}

.tab:hover,
.tab:focus {
color: #404BBF;
}

.images {
}
.images-link {
}
.images-item-bank {
}
.images-banking {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-banking {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-payment {
}
.images-payment {

font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-payment {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-maditation {
}
.images-meditation {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-meditation {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.images-item-taxi {
}
.images-taxi {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-taxi {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-illustration {
}
.images-illustration {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-illustration {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-online {
}
.images-online {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-online {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-instagram {
}
.images-instagran {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-instagram {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-organic {
}
.images-organic {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-rganic {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-coffee {
}
.images-coffee {

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-coffee {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



.footer-portfolio{
    background: #2E2F42;
}
.footer-portfolio-web {

    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.link {
}
.footer-portfolio-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-portfolio-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
}