:root {

    --typical-lh: 1.5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
}
ul,
ol {
margin: 0;
padding-left: 0;
}

img {
display: block;
}

body{
    font-family: 'roboto' ,sans-serif;
    color: #434455;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.container{
    width: 1158px;
    padding-left:15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin: 0 auto;
}

.site-body{
}
/* --------HEADER--------- */


.header {padding-top: 24px;
    padding-bottom: 24px;
    
}
.header > .container {
    display: flex;
    align-items: center;
}
    .header-web {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.header-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
margin-right: 76px;
}
.header-navigation {display: flex;
    align-items: center;
    margin-right: auto;
}
.header-link:hover,
.header-link:focus{
    color: #4D5AE5;
    }
.header-list {
    display: flex;
    gap: 40px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
    
}
.heade-item {
}
.header-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.header-after-list{
    display: flex;
    gap: 40px;

}
.header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.header-mail {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* --------Hero--------- */


.hero {
    background: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 48px;
max-width: 553px;
max-height: 120px;
margin: 0 auto;
}


.hero-btn {
background: #4D5AE5;
font-family: 'Roboto';
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items:center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;
min-width: 169px;
height: 56px;
padding: 16px 32px;
display: block;
margin: 0 auto;


}

/* --------About--------- */
.about-list {
}
.list {
    display:flex;
    gap: 24px;
}

.about {
    padding-top: 120px;
}
.about-item {
    
}
.about-strategy {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}
.about-after-strategy {

font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;

}
.about-item {
}
.about-punctuality {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;

}
.about-after-punctuality {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;
}
.about-diligence {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.about-after-diligence {

font-size: 16px;
line-height:var(--typical-lh);
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;
}
.about-technologies {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.about-after-technologies {

font-size: 16px;
line-height:var(--typical-lh);
letter-spacing: 0.02em;
color: #434455;
max-width: 264px;
}

/* --------Work--------- */
.work {padding-top: 120px;
    padding-bottom: 120px;
}
.work-title {
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;


}
.work-list {
    display: flex;
}
.work-item {
}

/* -----------Team--------- */

.team {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list {
}
.list {
}
.team-item {
}

.card-content{
    padding: 0 0 32px 0;
}
.card-list{
    
    padding-top: 32px ;
    padding-bottom: 32px ;
}

.team-designer {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 32px;
margin-bottom: 8px;
}
.team-designer-text {

font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}
.team-developer {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 32px;
margin-bottom: 8px;
}
.team-developer-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}
.team-marketing {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 32px;
margin-bottom: 8px;
}
.team-marketing-text {

    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 32px;
    }
.team-ul {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: #2E2F42;
margin-top: 32px;
margin-bottom: 8px;
}
.team-ul-text {

font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 32px;
}
/* -----------Footer------------ */

    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background: #2E2F42;

}
.footer-web {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer-studio {
    font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
margin-top: 16px;
max-width: 264px;

}

/* -----------PORTFOLIO-head------------ */

.container{
    width: 1158px;
    padding-left:15px;
    padding-right: 15px;
    outline: 1px solid red;
    margin: 0 auto;
}
body{
    font-family: 'roboto' ,sans-serif;
    color: #434455;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
.site-body{
}

.site-body-portfolio {
}
.header-portfolio > .container {
    display: flex;
    align-items: center;
}
.header-portfolio {
    padding-top: 24px;
    padding-bottom: 24px;

}
.header-navigation-portfolio {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-portfolio-web {

font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
cursor: pointer;

}

.header-portfolio-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
margin-right: 76px;

}
.header-portfolio-link:hover,
.header-portfolio-link:focus{
    color: #4D5AE5;
    }

.header-portfolio-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}
.list {
}


.header-portfolio-link{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42
}
.header-portfolio-after-list {

}
.header-portfolio-mail {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-portfolio-tel {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* ------------------tab-------------- */


.filter.container{}
.tab{
    
}

.tab-item{
    
}
.tab-list{
    display: flex;
    gap: 24px;
    padding-top: 96px;
    justify-content: center;
    margin-bottom: 72px;
}
.tab-all:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    }

.tab-web:hover{
    background-color: #404BBF;
    color: #FFFFFF;
}
.tab-app:hover{
    background-color: #404BBF;
    color: #FFFFFF;
    }
    .tab-design:hover{
        background-color: #404BBF;
        color: #FFFFFF;
        }
        .tab-marketing:hover{
            background-color: #404BBF;
            color: #FFFFFF;
            }

.tab-all {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;
    height: 48px;
    }
.tab-web {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;

height: 48px;

}
.tab-app {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
height: 48px;
}

.tab-design {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;
height: 48px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
width: 101px;
height: 48px;

}
.tab-marketing {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 24px;

    font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;

height: 48px;
margin-right: 427px;
}

.tab:hover,
.tab:focus {
color: #404BBF;
}

.images { 
    padding-top:72px;
    
}


.images-list {
    
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
}

.images-item{width: calc(100 %-48)/3;}

.picture-list {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}
.images-link {
}
.images-item-bank {
}
    
.picture-content {
    border: 1px solid #E7E9FC;


}
.images-banking {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;

}
.images-after-banking {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-payment {
}
.images-payment {
    margin-top: 32px;
    margin-bottom: 8px;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-payment {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-maditation {}

.images-meditation {
    margin-top: 32px;
    margin-bottom: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-meditation {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}
.images-item-taxi {
}
.images-taxi {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-taxi {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-illustration {
}
.images-illustration {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-illustration {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-online {
}
.images-online {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-online {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-instagram {
}
.images-instagran {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-instagram {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-organic {
}
.images-organic {
    margin-top: 32px;
    margin-bottom: 8px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-rganic {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.images-item-coffee {
}
.images-coffee {
    margin-top: 32px;
    margin-bottom: 8px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.images-after-coffee {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}



.footer-portfolio{
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-portfolio-web {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.link {
}
.footer-portfolio-studio {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-portfolio-text {
max-width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #E7E9FC;
margin-top: 16px;
}